

body{
	margin: 0;
}

ul{
	list-style: none;
}

#content{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#map{
	width: 80%;
	height: 100%;
	margin: 0;
	float: left;
}

#stats{
	float: right;
	width: 20%;
	height: 100%;
	background-color: #FAFAFA;
	color: #333 !important;
	font-weight: 600;
	margin: 0;
}

#stats h3{
	text-align: center;
}

.stat{
	
	
}
