

body{
	margin: 0;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

li{
	width: 100%;
	padding: 0;
	margin-right: 0.5em;
}

#content{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#map{
	width: 80%;
	height: 100%;
	margin: 0;
	float: left;
}

#stats{
	float: right;
	width: 20%;
	height: 100%;
	background-color: #F5F5F5;
	margin: 0;
}

.stat{
	/* TODO pretty this up */
	padding: 0.4em;	
	border-bottom: solid #333;
	color: #333;
	font-weight: 600;
	font-size: large;
	width: 100%;
	margin-right: 0.15em;
}

.stat div{
	width: 100%;
	padding: 0.4em;
}

.stat:hover{
	background: #EEE;
}